@model PIM.Models.Usuario

<div class="container-fluid page-header py-5">
    <h1 class="text-center text-white display-6">Cadastro</h1>
    <ol class="breadcrumb justify-content-center mb-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        <li class="breadcrumb-item active text-white">Cadastro</li>
    </ol>
</div>

<div class="container-fluid contact py-5">
    <div class="container py-5">
        <div class="p-5 bg-light rounded">
            <div class="row g-4">
                <div class="col-12">
                    <div class="text-center mx-auto" style="max-width: 700px;">
                        <h1 class="text-primary">Crie Sua Conta</h1>
                        <p>Preencha as informações abaixo para criar sua conta.</p>
                    </div>
                </div>
                <div class="col-lg-6 mx-auto">
                    <div class="h-100 rounded">
                        @using (Html.BeginForm("Cadastro", "Account", FormMethod.Post, new { @class = "" }))
                        {
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.Nome)
                                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "w-100 form-control border-0 py-3 mb-4" } })
                                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Email)
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "w-100 form-control border-0 py-3 mb-4" } })
                                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.Senha)
                                @Html.PasswordFor(model => model.Senha, new { @class = "w-100 form-control border-0 py-3 mb-4" })
                                @Html.ValidationMessageFor(model => model.Senha, "", new { @class = "text-danger" })
                            </div>
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary" type="submit">Cadastrar</button>
                        }
                        <div class="text-center mt-3">
                            <p>Já tem uma conta? @Html.ActionLink("Faça Login", "UserLogin", "User", null, new { @class = "text-primary" })</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>